.SearchResultStyles {
  background-color: #fff;
  padding: 0 30px;

  .image {
    border-radius: 15px;
  }

  h3 {
    font-size: 24px;
    font-weight: 500;
  }

  p {
    font-size: 16px;
    color: #000;
    text-align: left;
    padding-right: 50px;
  }
}
