.search {
  background-color: #fff159;
  height: 46px;
  &_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    .pdr {
      user-drag: none;
      -webkit-user-drag: none;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;

      img {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 8%;
      }
    }
  }
  .autocomplete {
    display: flex;
    width: 100%;
  }
}
