.search {
  background-color: #fff159;
  height: 46px;
  &_container {
    display: flex;
    align-items: center;
    height: 100%;
    .pdr {
      user-drag: none;
      -webkit-user-drag: none;
      width: 9%;

      img {
        height: 40px;
        line-height: 10px;
        width: 100%;
      }
    }
  }
  .autocomplete {
    margin-left: 20px;
    width: 90%;
  }
}
